body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
    background-color: #f0f0f0;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.theme_head{
    font-size: 30px;
}

.articles{
    background-color: #f0f0f0;
    padding: 15px;
    float: left;
    width: 650px;
}

.article{
    padding: 10px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    border-radius: 2px;
    box-shadow: #bfbcbc 1px 1px;
    width: 450px;height: 350px;
}

.article h1{
    color: gray;
    font-size: 50px;
    margin: 0;
}

.article__tags{
    display: flex;
    padding: 10px;
}

.article__tag{
    color: black;
    margin: 1px;
    width: 33%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    padding: 0px 1px 10px 1px;
}

.input-field{margin: 15px;}

.theme__card {
    height: 1.5vh;
    transform: skew(30deg);
    margin-top: 2.5vh;
    border: 1px solid grey;
}

.theme__title{

}

.theme__title a{
    height: auto;
    padding: 0;
    line-height: 40px;
}

.theme__empty{

}

ul#slide-out{
    background-color: #f0f0f0;
}

ul#slide-out .theme{
    margin: 10px;
    background-color: #FFFFFF;
}

label{
    line-height: 10px;
}