{% extends "layout.twig" %}

{% block body %}
    <div class="themes">
        <form>
            <label for="search_text">Rechercher</label>
            <input type="text" placeholder="Recherche..." name="search_text">
            <label for="search_date">Date</label>
            <input type="date" name="search_date">
            <table id="liste">
                <tr>
                    <td colspan="5" class="theme_head">Thematiques</td>
                </tr>
            </table>
            <input type="submit" value="Rechercher">
        </form>
    </div>
{% endblock %}
        
